body {
    background-image: url("bench-accounting-nvzvOPQW0gc-unsplash.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    

  }

